/* Under Construction Page */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: white;
}
content {
  background: url("https://source.unsplash.com/jFCViYFYcus/4887×2759") center;

  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background: black;
  padding: 15px 20px;
  margin: 0;
}
