@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #353b48;
}

.nav > h1 {
    font-size: 2.25rem;
    color: #44bd32;
    font-weight: 500;
}

.navLinks {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    background-color: #2f3640;
}

.navLinkItem {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
    padding: 1rem 2rem 1rem 2rem;
    width: 100%;
    color: #999999;
    cursor: pointer;
    text-decoration: none;
}

.navProgressbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem 0 1rem 0;
    color: white;
}

.navEnd {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.loginbtn {
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: white;
    background-color: lightseagreen;
    border-radius: 5px;
}

.userBtn {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    overflow: hidden;
}

.userBtn > img {
    width: 3rem;
    height: 3rem;
}
