@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 5rem 2rem 5rem;
    font-family: 'Montserrat', sans-serif;
}

nav > h1 {
    margin: 0 4rem 0 0rem;
    font-size: 2.25rem;
    color: #44bd32;
    font-weight: 500;
}

nav > ul {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    background-color: #2f3640;
}
/* for hover effect */
/* #44bd32 */

nav > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
    padding: 1rem;
    margin: 0 1rem 0 1rem;
    width: 100%;
    color: #999999;
    cursor: pointer;
}

.active {
    color: #44bd32;
}